@import '../../variables.scss';

.tool-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {margin-top: 50%; opacity: 0}
    100% {margin-top: 0%; opacity: 1;}
}

.boxshadow-icon {
    margin-top: -10px;
    width: 135px; 
}


.gradient-icon {
    width: 100px;
    margin: 0 20px;
}

.flex-icon {
    margin: 0 30px;
    width: 80px;
}


.grid-icon {
    width: 100px;
    margin: 0 20px;
}

h3 a {
    font-weight: 600;
    color: $purple-color;
    text-decoration: none;
}

a:hover {
    color: $purple-color;  
}