.not-found-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found-buttons > button:first-child {
    margin-right: 40px;
}

.not-found-img {
    width: 50vw;
    margin-top: 70px;
}