@import '../../variables';

.Grid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    margin-top: -40px;
}

.column-fr {
    display: grid;
    width: 800px;
    justify-content: center;
    margin-left: 100px;
}

.column-fr-child, .row-fr-child {
    border: 1px solid;
    height: 30px;
    width: 50px;
}

.row-fr {
    display: grid;
    height: 550px;
    align-items: center;
    margin-right: 10px;
}

.grid-parent {
    height: 550px;
    width: 800px;
    background-color: $light-gray;
    margin-right: 30px;
    border-radius: 10px;
}

.grid-child {
    background-color: $light-green-color;
    border: 0.3px solid;
}

.output {
    padding: 20px;
    width: 350px;
    height: fit-content;
    background-color: $light-blue;
    text-align: start;
    border-radius: 10px;
}

.code-text {
    margin-left: 20px;
}

.attributes-output-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid-attributes-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 40px;
}

.grid-attribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h2-grid-attribute {
    font-size: 20px;
    margin: 0;
}