@import '../../variables.scss';

.Flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
}

.child-count-div {
    display: flex;
    align-items: center;
}

.child-count-title {
    margin-right: 10px;
    font-size: 22px;
}

.child-count {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.parent-output-div {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.parent-div {
    width: 80%;
    max-width: 650px;
    background-color: #f3f4f3;
    height: 350px;
    display: flex;
    border-radius: 10px;
}

.output {
    padding: 20px;
    width: 300px;
    height: 230px;
    background-color: $light-blue;
    text-align: start;
    border-radius: 10px;
}

.output > div > p, .output > p {
    margin: 0;
}

.code-text {
    margin-left: 20px;
}

.attributes-div {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 30px;
    text-align: left;
    margin-top: 60px;
}

input {
    margin: 6px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #423e37;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.flexbox-buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-buttons > button:first-child {
    margin-right: 20px;
}

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}