@import '../../variables';

.navbar {
    background-color: transparent;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}


.navbar a {
    color: $brown-color;
    font-size: 1.25rem;
    text-decoration: none;
}

.navbar a:hover {
    color: $purple-color;
}

.brand {
    text-decoration: underline wavy $red !important;
    text-underline-position: under;
}

#navbarSupportedContent {
    flex-grow: initial;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav li:first-child {
    margin-right: 10px;
}

.dropdown-menu {
    width: 230px;
    padding: 10px 20px;
    font-size: 10px !important;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.dropdown-menu.show a:hover {
    color: $purple-color;
}

.dropdown-menu a {
    font-size: 18px;
}