@import '../../variables';

.user-info-div img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.user-info-div {
    display: flex;
    background-color: rgb(247, 245, 245);
    padding: 30px 40px;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username {
    font-size: 40px;
    margin: 0;
}

.profile-buttons {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sample-img {
    max-width: 150px;
    height: 70px;
}

.snippets {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.snippet-div {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #F3F4F3;
    border-radius: 10px;
    padding: 20px;
}

.snippet-code {
    padding: 20px;
    width: 250px;
    height: 150px;
    background-color: #E3E7FB;
    margin-left: 10px;
    text-align: start;
    border-radius: 10px;
}

.box-shadow-profile {
    width: 120px;
    height: 120px;
    background-color: $light-green-color;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.gradient-profile {
    padding: 20px;
    width: 300px;
    height: 120px;
    background-color: #E3E7FB;
    text-align: start;
    border-radius: 10px;
    margin-right: 10px;
}