@import './variables';

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: $brown-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
