@import '../../variables';

.login-form {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form button {
    background-color: $mint-green-color;
    width: 250px;
    height: 40px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    color: $brown-color;
    padding: 5px 0;
    border: none;
}

.login-form button:hover {
    background-color: $light-green-color;
    color: $brown-color;
}

.login-form input {
    width: 250px;
}

.login-form h3 {
    font-weight: 600;
    margin-bottom: 30px;
}