@import '../../variables';

.Message {
    background-color: $mint-green-color;
    width: 200px;
    position: absolute;
    top: 700px;
    left: calc(100vw - 210px);
    text-align: left;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    animation-name: flash;
    animation-duration: 5s;
}

@keyframes flash {
    0% {opacity: 0;}
    50% {opacity: 100;}
    100% {opacity: 0;}
}
